/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@import 'tailwindcss';
@import 'uniwind';

@theme {
  --color-accent: #0a84ff;
  --color-g2: #3866D5;
  --color-g1: #8101E9;
  --color-app-icon-bg: #191C21;
}

.d {
  @apply border border-red-500;
}

.text {
  @apply text-zinc-800 dark:text-zinc-200;
}

.bg {
  @apply bg-zinc-100 dark:bg-black;
}
